body{
  background-color: #efefef;
}

.box1,.box2,.box3,.boxA,.box6 {
  width: 1040px;
  margin-left: 163px;
  margin-right: 163px;
}

.box1 {
  background-color: #fff;
  margin-top: 48px;
}

.logo {
  font-size: 26px;
  color: #444;
  margin: 0;
  padding: 36px 0 30px 40px;
}

.box2 {
  background-color: #fff;
}

.box2 ul {
  margin: 0 40px 0 40px;
  padding: 0;
  height: 44px;
  border-top: solid 1px #ededed;
  border-bottom: solid 1px #ededed;
}

.box2::after {
  clear: both;
  display: block;
  content: "";
}

.box2 li {
  float: left;
  font-size: 12px;
  list-style-type: none;
  padding: 16px 40px 16px 0;
}

.box2 li a {
  color: #444;
  text-decoration: none;
}

.box3 {
  background-color: #fff;
}

.image {
  width: 940px;
  height: 198px;
  margin: 24px 40px 0 40px;
  border:solid 1px #ededed;
}

.boxA {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 200px;
}

.boxA::after {
  content: "";
  display: block;
  clear: both;
}

.box4 {
  float:left;
  width: 65%;
}

.box4 h1 {
  font-size: 22px;
  color: #444;
  padding-left: 40px;
  font-weight: normal;
  margin-bottom: 32px;
}

.date {
  padding-left: 40px;
  font-size: 12px;
  margin-bottom: 20px;
  color: #444;
}

.contents {
  padding-bottom: 48px;
  margin: 0 10px 0 40px;
  font-size: 12px;
  color: #444;
  border-bottom: double 4px #ededed;
}

.box5 {
  float: left;
  width: 35%;
}

.information {
  font-size: 11px;
  color: #444;
  margin: 14.740px 40px 36px 72px;
}

.information-contents {
  font-size: 13px;
  color; #444;
  margin: 0 40px 72px 72px;
}

.recomendations {
  font-size: 11px;
  color: #444;
  margin: 0 40px 36px 72px;
}

.box5 ul {
  padding: 0;
}

.box5 li {
  font-size: 13px;
  color: #444;
  list-style-type: none;
  margin: 0 40px 24px 72px;
}

.date2 {
  font-size: 11px;
  color: #444;
  margin-left: 72px;
}

.box6 {
  background-color: #fff;
}

.box6 p {
  margin: 0 40px 48px 40px;
  padding-top: 24px;
  padding-bottom: 40px;
  font-size: 12px;
  color: #444;
  border-top: solid 1px #ededed;
}
